<h1>Dashboard</h1>
<table>
<tr>
<th>Total kinds of products  </th>
<th>Total quantity of items  </th>
<th>Total number of categories</th>
</tr>
<tr>
  <td><%= @num_products %></td>
  <td><%= @num_product_items %></td>
  <td><%= @num_categories %></td>
</tr>
</table>