<h1>Dashboard</h1>
<table>
  <tr>
    <th>Total kinds of products:</th> 
    <td><%= @num_products %></td> 
  </tr>
  <tr>
    <th>Total quantity of items:</th>
    <td><%= @num_product_items %></td>
  </tr>
  <tr>
    <th>Total number of categories:</th>
    <td><%= @num_categories %></td>
  </tr>
</table>