<h1>Dashboard</h1>

    <tr>
      <td>Total kinds of products:</td>
      <td><%= @num_products %></td>
    </tr>
    <tr>
      <td>Total quantity of items :</td>
      <td><%= @num_product_items %></td>
    </tr>
    <tr>
      <td>Total number of categories:</td>
      <td><%= @num_categories %></td>
    </tr>
