
<section class="about-index">
  <header class="page-header">
   <h1>About</h1>
    <div class="intro">
      <p>
      Founded in 2000, our company is Canada's largest online plant sales platform, headquartered in Vancouver, you can buy all the plants you want here.
      </p>
    </div>
  </header>

</section>
